<form class="pure-form">
  <fieldset>
    <h2 class="content-subhead"><span class="maki-restaurant"></span>Alimentación</h2>
    <div class="pure-g level-2">
      <div class="pure-u-1-5">
        <h3>Desayuno</h3>
        {% include select_eat.html %}
      </div>
      <div class="pure-u-3-5">
        <h3 class="sublevel l-centered">Comida</h3>
        <div class="pure-u-1-3">
          <p>1º</p>
          {% include select_eat.html %}
        </div>
        <div class="pure-u-1-3">
          <p>2º</p>
          {% include select_eat.html %}
        </div>
        <div class="pure-u-1-3">
          <p>Postre</p>
          {% include select_eat.html %}
        </div>
      </div>
      <div class="pure-u-1-5">
        <h3>Merienda</h3>
        {% include select_eat.html %}
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h2 class="content-subhead"><span class="maki-toilet"></span>Deposiciones</h2>
    <div class="pure-g">
      <div class="pure-u-1-3">
        <h3>Mañana</h3>
        {% include select_toilet.html %}
      </div>
      <div class="pure-u-1-3">
        <h3>Mediodía</h3>
        {% include select_toilet.html %}
      </div>
      <div class="pure-u-1-3">
        <h3>Tarde</h3>
        {% include select_toilet.html %}
      </div>
    </div>
  </fieldset>
  
  <fieldset>
    <h2 class="content-subhead"><span class="maki-lodging"></span>Sueño</h2>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <h3>Mañana</h3>
        {% include hours.html %}
        {% include minutes.html %} - 
        {% include hours.html %}
        {% include minutes.html %}
      </div>
      <div class="pure-u-1-2">
        <h3>Mediodía</h3>
        {% include hours.html %}
        {% include minutes.html %} - 
        {% include hours.html %}
        {% include minutes.html %}
      </div>
    </div>
  </fieldset>
  
  <fieldset class="block">
    <h2 class="content-subhead"><span class="fontawesome-suitcase"></span>Necesita</h2>
    <div class="pure-g">
      <div class="pure-u-1-2">
        <label for="needs-1">
          <input id="needs-1" type="checkbox"> Pañales
        </label>
        <label for="needs-2">
          <input id="needs-2" type="checkbox"> Crema
        </label>
        <label for="needs-3">
          <input id="needs-3" type="checkbox"> Baberos
        </label>
        <label for="needs-4">
          <input id="needs-4" type="checkbox"> Toallolitas
        </label>
        <label for="needs-5">
          <input id="needs-5" type="checkbox"> Ropa de recambio
        </label>
      </div>
      <div class="pure-u-1-2">
        <label for="needs-6">
          <input id="needs-6" type="checkbox"> Sábanas
        </label>
        <label for="needs-7">
          <input id="needs-7" type="checkbox"> Bata
        </label>
        <label for="needs-8">Otros</label>
        <textarea id="needs-8"></textarea>
      </div>
    </div>
  </fieldset>

  <fieldset>
    <h2 class="content-subhead"><span class="fontawesome-check"></span>Observaciones</h2>
    <div class="pure-u-1">
      <textarea id="nursery-comments" class="pure-input-1"></textarea>
    </div>
  </fieldset>
</form>