<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width">
    
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.1.0/pure-min.css">
    <link rel="stylesheet" href="/css/fontawesome.css">
    <link rel="stylesheet" href="/css/maki.css">
    <link rel="stylesheet" href="/css/main.css">
  </head>
  <body>

    {% assign section = {{page.section}} %}

    <div class="pure-g-r" id="layout">

      <div class="pure-u" id="menu">
        <div class="pure-menu pure-menu-open">
          <a class="pure-menu-heading" href="/">Clase A</a>
          <ul>
            {% assign pages_list = site.pages | sort: "name" %}
            {% include pages_list %}
          </ul>
          <a class="pure-menu-heading" href="/">Clase B</a>
        </div>
      </div>

      <div class="pure-u" id="main">
        <div class="header pure-g">
          <div class="pure-u-1-3 l-left">
            <h2>{{ page.title }}</h2>
            <button id="kid-details" class="fontawesome-comment-alt inverse"></button>
          </div>
          <div class="pure-u-1-3">
            <button id="alert" class="fontawesome-medkit inverse"></button>
            <!--select>
              <option> </option>
              <option>36</option>
              <option>37</option>
              <option>38</option>
              <option>39</option>
              <option>40</option>
              <option>41</option>
              <option>42</option>
            </select>
            <select>
              <option> </option>
              <option>.0</option>
              <option>.1</option>
              <option>.2</option>
              <option>.3</option>
              <option>.4</option>
              <option>.5</option>
              <option>.6</option>
              <option>.7</option>
              <option>.8</option>
              <option>.9</option>
            </select-->
          </div>
          <div class="pure-u-1-3 l-right">
            <button class="fontawesome-angle-left"></button>
            <p>Hoy</p>
            <button class="fontawesome-angle-right"></button>
            <button class="fontawesome-calendar"></button>
          </div>
        </div>

        <div class="content">
 
          {{ content }}

          {% if page.view == "nursery" %}
            {% include nursery.html %}
          {% endif %}

        </div>
      </div> <!-- /main -->
    </div> <!-- /layout -->

  </body>
</html>
